/*Todo----- CONTACTO.HTML - BODY -----*/

/** BOOTSTRAMP */

.contacto {
    width: 100%;
    margin-bottom: 100px;
}

.contacto {
    h1 {
        font-size: 72px;
        font-family: "Smooch";
        font-weight: 400;
        color: #1ea4d9;
        text-align: center;
        margin-bottom: 25px;
        padding: 15px;
    }
}

.contacto {
    h4 {
        height: 100%;
        margin: 20px 100px;
        padding: 30px;
        font-family: "Poppins";
        font-weight: 200;
        font-size: 24px;
        text-align: center;
    }
}
