/*Todo ----- ENCICLOPEDIA.HTML ----- */
/*! GRID: gripContainerEnciclopedia */
/** ----- HERO ENCICLOPEDIA ----- */

.heroEnc {
    /** Declaramos a que grid-area pertenece */

    grid-area: hero;

    /** Distribuimos con FlexBox */
    @include flex-column(flex, column, center, center);
}

.heroEnc {
    width: auto;
    height: 620px;
    background-image: url("../img/img_fondo/background_atlas_section_4.jpg");
    background-position: map-get($bg, position);
    background-repeat: map-get($bg, repeat);
    background-size: map-get($bg , size);
    background-attachment: map-get($bg, attachment);
}

.heroEnciclopedia {
    height: 620px;
    @include flex-column(flex, column, space-evenly, center);
}

.heroEnciclopedia {
    h1 {
        font-family: nth($font-family, 2);
        text-align: center;
        color: $color-withe-txt;
        font-weight: 300;
        font-size: $h1;
        margin-top: 15px;
        padding: 15px;
        text-shadow: 5px 5px 30px rgba(0, 0, 0, 1);
        /* Animation */
        animation-name: hero;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-direction: initial;
    }
}

.heroEnciclopedia {
    p {
        font-family: nth($font-family, 1);
        font-size: nth($font-size, 6);
        font-weight: 400;
        color: $color-withe-txt;
        text-align: center;
        width: 600px;
        margin-top: 55px;
        text-shadow: 5px 5px 30px rgba(0, 0, 0, 1);
        /* Animation */
        animation-name: hero_p;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-direction: initial;
    }
}

.heroEnciclopedia {
    img {
        height: 100px;
    }
}

/** ----- MAIN ENCICLOPEDIA ----- */

.mainEnc {
    /** Declaramos a que grid-area pertenece */
    grid-area: main;
}

.enciclopedia {
    @include flex-column (flex, column, space-around, center);
    width: 100%;
    border-top: 1px solid $color-bg-enciclopedia;
    background-color: $color-bg-enciclopedia;
    padding: 50px;
}

.title1 {
    font-family: nth($font-family, 2);
    text-align: center;
    color: $color-bluelight-2;
    font-weight: 300;
    font-size: $h2;
    margin-top: 25px;
    padding: 15px;
}

.title2 {
    font-family: nth($font-family, 2);
    text-align: center;
    color: $color-gray-txt;
    font-weight: 300;
    font-size: $h2;
    margin-top: 25px;
    padding: 15px;
}

.enciclopedia {
    h4 {
        font-family: nth($font-family, 1);
        text-align: center;
        color: $color-gray-txt;
        font-weight: 300;
        font-size: $h4;
        margin-top: 25px;
        padding: 15px;
    }
}

/** Cards Left*/

.cardEnciclopediaLeft {
    @include flex-row(flex, row, space-between, center);
    font-family: nth($font-family, 1);
    background-color: $color-bg-cardShop;
    height: 330px;
    margin: 20px 0;
    transition-duration: 0.5s;

    &:hover {
        box-shadow: $card-shadow;
    }
}

.cardEnciclopediaLeft {
    img {
        width: 450px;
        height: 330px;
    }
}

.cardEnciclopediaLeft {
    div {
        @include flex-column (flex, column, space-between, flex-start);
        margin: 10px 25px;
        text-align: justify;
        font-family: nth($font-family, 1);
        background-color: $color-bg-cardShop;
    }
}

.cardEnciclopediaLeft {
    div {
        div {
            width: 100%;
            @include flex-row (flex, row, flex-end, flex-end);
            text-align: justify;
            font-family: nth($font-family, 1);
            background-color: $color-bg-cardShop;
        }
    }
}

.cardEnciclopediaLeft {
    div {
        h3 {
            margin-top: 15px;
            font-size: $h3;
            font-weight: 500;
        }
    }
}

.cardEnciclopediaLeft {
    div {
        p {
            font-size: $p;
            font-weight: 200;
            text-align: justify;
        }
    }
}

/*! Cards Right */

.cardEnciclopediaRight {
    @include flex-row(flex, row-reverse, space-between, center);
    font-family: nth($font-family, 1);
    background-color: $color-bg-cardShop;
    height: 330px;
    margin: 20px 0;
    transition-duration: 0.5s;

    &:hover {
        box-shadow: $card-shadow;
    }
}

.cardEnciclopediaRight {
    img {
        width: 450px;
        height: 330px;
    }
}

.cardEnciclopediaRight {
    div {
        @include flex-column (flex, column, space-between, flex-start);
        margin: 10px 25px;
        text-align: justify;
        font-family: nth($font-family, 1);
        background-color: $color-bg-cardShop;
    }
}

.cardEnciclopediaRight {
    div {
        div {
            width: 100%;
            @include flex-row (flex, row, flex-end, flex-end);
            text-align: justify;
            font-family: nth($font-family, 1);
            background-color: $color-bg-cardShop;
        }
    }
}

.cardEnciclopediaRight {
    div {
        h3 {
            margin-top: 15px;
            font-size: $h3;
            font-weight: 500;
        }
    }
}

.cardEnciclopediaRight {
    div {
        p {
            font-size: $p;
            font-weight: 200;
            text-align: justify;
        }
    }
}

/** ----- ASIDE ENCICLOPEDIA ----- */

.asideEnc {
    /** Declaramos a que grid-area pertenece */

    grid-area: aside;

    /** Distribuimos con FlexBox */

    @include flex-column(flex, column, space-evenly, center);
    margin-right: 15px;
}

.transparet {
    @include flex-column(flex, column, space-evenly,center);
    margin: 10px;
    padding: 15px;
}

.new {
    h3 {
        width: 100%;
        padding: 15px;
        font-family: nth($font-family, 2);
        font-size: 48px;
        font-weight: 400;
        text-align: center;
        border-bottom: 2px solid $color-bluelight-2;
    }
}

.newsEnc {
    @include flex-column(flex, column, center, center);
    padding: 15px;
    transition-duration: 0.5s;

    &:hover {
        box-shadow: $card-shadow;
    }
}

.newsCat {
    background: 0;
    border-left: 2px solid $color-orange-1;
    border-right: 2px solid $color-orange-1;
    color: #000 !important;
    font-family: nth($font-family, 3);
    font-size: nth($font-size, 3);
    letter-spacing: 2px;
    width: 95%;
    padding: 4px 6px 3px;
    font-weight: bold;
}

.newsEnc {
    figure {
        img {
            width: 100%;
        }
    }
}

.newsEnc {
    figure {
        figcaption {
            font-family: nth($font-family, 1);
            font-size: 10px;
            margin-bottom: 25px;
        }
    }
}

.newsEnc {
    h5 {
        font-family: nth($font-family, 3), cursive;
        font-size: nth($font-size, 2);
        font-weight: 800;
        color: $color-gray-txt-2;
        margin-bottom: 5px;
        padding-bottom: 10px;
        border-bottom: 2px solid $color-orange-1;
    }
}

.newsEnc {
    h6 {
        width: 100%;
        font-family: nth($font-family, 1);
        font-size: 10px;
        margin-top: 5px;
        margin-bottom: 20px;
        font-weight: 200;
        color: grey;
    }
}

.newsEnc {
    p {
        font-family: nth($font-family, 1);
        font-size: nth($font-size, 1);
        font-weight: 300;
        text-align: justify;
        text-indent: 30px;
    }
}

.newsEnc {
    div {
        @include flex-row(flex, row, flex-end, center);
        margin-bottom: 20px;
    }
}

