/*TODO ----- INDEX.HTML - BODY ----- */
/** -----  HERO SECTION ----- */

.hero {
    width: 100%;
    height: 670px;
    background-image: url("../img/img_fondo/background_hero.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero {
    div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}

.hero {
    div {
        h1 {
            font-family: "Smooch";
            text-align: center;
            color: rgb(64, 63, 63);
            font-weight: 300;
            font-size: 78px;
            margin-top: 35px;
            padding: 15px;
        }
    }
}

.hero {
    h2 {
        font-family: "Smooch";
        text-align: center;
        color: rgb(64, 63, 63);
        font-weight: 300;
        font-size: 48px;
        padding: 15px;
    }
}

.hero {
    div {
        h3 {
            font-family: "Poppins";
            font-size: 20px;
            font-weight: 400;
            text-align: center;
            width: 800px;
            padding: 30px;
        }
    }
}

.hero {
    div {
        h4 {
            font-family: "Poppins";
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            margin: 30px;
            padding: 30px;
        }
    }
}

.hero {
    div {
        img {
            padding-bottom: 20px;
        }
    }
}

/** -----  ENCICLOPEDIA SECTION ----- */

.enciclopediaIndex {
    width: 100%;
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("../img/img_fondo/background_atlas_section_6.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}

.enciclopediaOver {
    h2 {
        font-family: "Smooch";
        text-align: center;
        color: whitesmoke;
        font-weight: 300;
        font-size: 78px;
        padding: 45px;
    }
}

.enciclopediaOver {
    h3 {
        text-align: center;
        color: whitesmoke;
        font-family: "Poppins";
        font-weight: 300;
        margin: 10px 160px;
    }
}

/**------  SHOP SECTION -----*/

.shopIndex {
    width: 100%;
    height: auto;
    border-top: 1px solid rgb(224, 221, 221);
    background-image: url("../img/img_fondo/vecteezy_blue-water-on-white-background_1226797.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}

.shopIndex {
    div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
}

.shopIndex {
    div {
        div {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.block1 {
    margin: 20px 0px 40px 40px;
}

.block2 {
    margin: 20px 40px 40px 0px;
}

.shopIndex {
    h2 {
        font-family: "Smooch";
        text-align: center;
        color: rgb(64, 63, 63);
        font-weight: 300;
        font-size: 78px;
        margin-top: 25px;
        padding: 15px;
    }
}

.shopIndex {
    div {
        div {
            div {
                img {
                    width: 100%;
                    height: 250px;
                    margin: 0px 0px 10px 0px;
                }
            }
        }
    }
}

.shopIndex {
    div {
        div {
            div {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                /*border: 1px solid rgb(171, 170, 170);*/
                margin: 25px 25px;
                text-align: center;
                width: 250px;
                height: 450px;
                font-family: "Poppins";
                background-color: white;
                transition-duration: 0.5s;

                &:hover {
                    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.56);
                }
            }
        }
    }
}

.shopIndex {
    div {
        div {
            div {
                h4 {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.shopIndex {
    div {
        div {
            div {
                p {
                    font-size: 12px;
                    font-weight: 200;
                    text-align: justify;
                    margin: 0px 20px 10px 20px;
                    padding: 0px 10px;
                }
            }
        }
    }
}

/**-----  NEWSLETTER SECTION -----*/

.newsletter {
    width: 100%;
    height: 680px;
    font-family: "Poppins";
    background-color: rgb(184, 228, 250);
}

.newsletter {
    h2 {
        font-family: "Smooch";
        text-align: center;
        color: rgb(64, 63, 63);
        font-weight: 300;
        font-size: 78px;
        padding: 75px;
    }
}

.newsletter {
    h4 {
        text-align: center;
        font-family: "Poppins";
        font-weight: 300;
        margin: 10px 160px 50px 160px;
    }
}

.newsletter {
    div {
        margin-top: 30px;
    }
}