/*TODO ----- INDEX.HTML - BODY ----- */
/** -----  HERO SECTION ----- */

.hero {
    width: 100%;
    height: 670px;
    background-image: url("../img/img_fondo/background_hero.jpg");
    background-position: map-get($bg, position);
    background-repeat: map-get($bg, repeat);
    background-size: map-get($bg , size);
    background-attachment: map-get($bg, attachment);
}

.hero {
    div {
        @include flex-column(flex, column, space-evenly, center);
    }
}

.hero {
    div {
        h1 {
            font-family: nth($font-family, 2);
            text-align: center;
            color: $color-gray-txt;
            font-weight: 300;
            font-size: $h1;
            margin-top: 35px;
            padding: 15px;
        }
    }
}

.hero {
    h2 {
        font-family: nth($font-family, 2);
        text-align: center;
        color: $color-gray-txt;
        font-weight: 300;
        font-size: 48px;
        padding: 15px;
    }
}

.hero {
    div {
        h3 {
            font-family: nth($font-family, 1);
            font-size: nth($font-size, 5);
            font-weight: 400;
            text-align: center;
            width: 800px;
            padding: 30px;
        }
    }
}

.hero {
    div {
        h4 {
            font-family: nth($font-family, 1);
            font-size: nth($font-size, 5);
            font-weight: 500;
            text-align: center;
            margin: 30px;
            padding: 30px;
        }
    }
}

.hero {
    div {
        img {
            padding-bottom: 20px;
        }
    }
}

/** -----  ENCICLOPEDIA SECTION ----- */

.enciclopediaIndex {
    @include flex-column(flex, column, space-between, center);
    width: 100%;
    height: 680px;
    background-image: url("../img/img_fondo/background_atlas_section_6.jpg");
    background-position: map-get($bg, position);
    background-repeat: map-get($bg, repeat);
    background-size: map-get($bg , size);
    background-attachment: map-get($bg, attachment);
}

.enciclopediaOver {
    h2 {
        font-family: nth($font-family, 2);
        text-align: center;
        color: $color-withe-txt;
        font-weight: 300;
        font-size: $h2;
        padding: 45px;
    }
}

.enciclopediaOver {
    h3 {
        text-align: center;
        color: $color-withe-txt;
        font-family: nth($font-family, 1);
        font-weight: 300;
        margin: 10px 160px;
    }
}

/**------  SHOP SECTION -----*/

.shopIndex {
    width: 100%;
    height: auto;
    border-top: 1px solid $color-bg-enciclopedia;
    background-image: url("../img/img_fondo/vecteezy_blue-water-on-white-background_1226797.jpg");
    background-position: map-get($bg, position);
    background-repeat: map-get($bg, repeat);
    background-size: map-get($bg , size);
    background-attachment: map-get($bg, attachment);
}

.shopIndex {
    div {
        @include flex-row(flex, row, space-around, center);
        flex-wrap: wrap;
    }
}

.shopIndex {
    div {
        div {
            @include flex-row(flex, row, center, center);
        }
    }
}

.block1 {
    margin: 20px 0px 40px 40px;
}

.block2 {
    margin: 20px 40px 40px 0px;
}

.shopIndex {
    h2 {
        font-family: nth($font-family, 2);
        text-align: center;
        color: $color-gray-txt;
        font-weight: 300;
        font-size: $h2;
        margin-top: 25px;
        padding: 15px;
    }
}

.shopIndex {
    div {
        div {
            div {
                img {
                    width: 100%;
                    height: 250px;
                    margin: 0px 0px 10px 0px;
                }
            }
        }
    }
}

.shopIndex {
    div {
        div {
            div {
                @include flex-column(flex, column, space-between, center);
                margin: 25px 25px;
                text-align: center;
                width: 250px;
                height: 450px;
                font-family: nth($font-family, 1);
                background-color: $color-bg-cardShop;
                transition-duration: 0.5s;

                &:hover {
                    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.56);
                }
            }
        }
    }
}

.shopIndex {
    div {
        div {
            div {
                h4 {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.shopIndex {
    div {
        div {
            div {
                p {
                    font-size: nth($font-size, 1);
                    font-weight: 200;
                    text-align: justify;
                    margin: 0px 20px 10px 20px;
                    padding: 0px 10px;
                }
            }
        }
    }
}

/**-----  NEWSLETTER SECTION -----*/

.newsletter {
    width: 100%;
    height: 680px;
    font-family: nth($font-family, 1);
    background-color: $color-bg-newsletter;
}

.newsletter {
    h2 {
        font-family: nth($font-family, 2);
        text-align: center;
        color: $color-gray-txt;
        font-weight: 300;
        font-size: $h2;
        padding: 75px;
    }
}

.newsletter {
    h4 {
        text-align: center;
        font-family: nth($font-family, 1);
        font-weight: 300;
        margin: 10px 160px 50px 160px;
    }
}

.newsletter {
    div {
        margin-top: 30px;
    }
}