/*Todo----- TIENDA.HTML  - BODY -----*/

/**-----  HERO SECTION -----*/

.heroShop {
    width: 100%;
    height: 700px;
    background-image: url("../img/img_fondo/background_tienda_section_1.jpg");
    background-position: map-get($bg, position);
    background-repeat: map-get($bg, repeat);
    background-size: map-get($bg , size);
    background-attachment: map-get($bg, attachment);
}

.heroShop {
    div {
        height: 700px;
        @include flex-column(flex, column,space-evenly,center);
    }
}

.heroShop {
    div {
        h1 {
            font-family: nth($font-family, 2);
            text-align: center;
            color: $color-orange-1;
            font-weight: 300;
            font-size: $h1;
            margin-top: 35px;
            padding: 15px;
            text-shadow: 5px 5px 30px rgba(0, 0, 0, 1);
        }
    }
}

.welcomeShop {
    font-family: nth($font-family, 1);
    font-size: $h3;
    font-weight: 500;
    color: $color-withe-txt;
    text-align: center;
    text-shadow: 5px 5px 30px rgba(0, 0, 0, 1);
}

.resumeShop {
    font-family: nth($font-family, 1);
    font-size: 24px;
    font-weight: 400;
    color: $color-withe-txt;
    text-align: center;
    width: 600px;
    text-shadow: 5px 5px 30px rgba(0, 0, 0, 1);
}

.heroShop {
    div {
        img {
            height: 100px;
        }
    }
}

/**-----  TIENDA SECTION -----*/

.shop {
    @include flex-column (flex, column, space-around, center);
    width: 100%;
    border-top: 1px solid $color-bg-enciclopedia;
    background-color: $color-bg-shop;
    padding: 88px;
}

.shop {
    h2 {
        font-family: nth($font-family, 2);
        text-align: center;
        color: $color-gray-txt;
        font-weight: 300;
        font-size: $h2;
        margin-top: 25px;
        padding: 15px;
    }
}

/** Cards Shop Left*/

.cardShopLeft {
    @include flex-row(flex, row, space-between, center);
    margin: 30px 50px;
    height: 300px;
    font-family: nth($font-family, 1);
    background-color: $color-bg-cardShop;
    transition-duration: 0.5s;

    &:hover {
        box-shadow: $card-shadow;
    }
}

.cardShopLeft {
    img {
        width: 450px;
        height: 300px;
        margin: 0;
    }
}

.cardShopLeft {
    div {
        @include flex-column (flex, column, space-between, flex-start);
        margin: 25px 50px;
        text-align: justify;
        font-family: nth($font-family, 1);
        background-color: $color-bg-cardShop;
    }
}

.cardShopLeft {
    div {
        div {
            width: 100%;
            @include flex-row (flex, row, flex-end,flex-end);
            margin: 25px 50px;
            text-align: justify;
            font-family: nth($font-family, 1);
            background-color: $color-bg-cardShop;
        }
    }
}

.cardShopLeft {
    h3 {
        font-size: $h3;
        font-weight: 500;
    }
}

.cardShopLeft {
    p {
        font-size: $p;
        font-weight: 200;
        text-align: justify;
    }
}

/** Cards Shop Right*/

.cardShopRight {
    @include flex-row(flex, row-reverse, space-between, center);
    margin: 30px 50px;
    height: 300px;
    font-family: nth($font-family, 1);
    background-color: $color-bg-cardShop;
    transition-duration: 0.5s;

    &:hover {
        box-shadow: $card-shadow;
    }
}

.cardShopRight {
    img {
        width: 450px;
        height: 300px;
        margin: 0;
    }
}

.cardShopRight {
    div {
        @include flex-column (flex, column, space-between, flex-start);
        margin: 25px 50px;
        text-align: justify;
        font-family: nth($font-family, 1);
        background-color: $color-bg-cardShop;
    }
}

.cardShopRight {
    div {
        div {
            width: 100%;
            @include flex-row (flex, row, flex-end,flex-end);
            margin: 25px 50px;
            text-align: justify;
            font-family: nth($font-family, 1);
            background-color: $color-bg-cardShop;
        }
    }
}

.cardShopRight {
    h3 {
        font-size: $h3;
        font-weight: 500;
    }
}

.cardShopRight {
    p {
        font-size: $p;
        font-weight: 200;
        text-align: justify;
    }
}