/*! ----- FOOTER ----- */

footer {
    background-color: $color-withe-txt;
    padding-top: 60px;
}

.footerRedes {
    @include flex-column(flex, column, space-evenly, center);
}

.footerRedes {
    h3 {
        font-family: nth($font-family, 1);
        font-weight: 300;
        font-size: nth($font-size, 4);
        text-align: center;
        padding: 10px;
    }
}

.footerRedes {
    ul {
        @include flex-row(flex, row, space-between, center);
        padding: 10px;
    }
}

.footerRedes {
    ul {
        li {
            list-style: none;
            margin: 0 20px;
            padding: 10px;
        }
    }
}

.footerRedes {
    ul {
        li {
            a {
                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}

.footerLogo {
    @include flex-row(flex, row, center, center);
    margin: 10px;
    padding: 20px;
}

.footerLogo {
    a {
        img {
            width: 200px;
            height: 100px;
        }
    }
}

.footerContacto {
    @include flex-column(flex, column, space-evenly,center);
    margin: 10px;
    padding: 20px;
}

.footerContacto {
    h3 {
        font-family: nth($font-family, 1);
        font-weight: 300;
        font-size: nth($font-size, 4);
        text-align: center;
        padding: 10px;
    }
}

.footerContacto {
    ul {
        @include flex-row(flex, row, space-between, center);
        padding: 10px;
    }
}

.footerContacto {
    ul {
        li {
            list-style: none;
            margin: 0 20px;
            padding: 10px;
        }
    }
}

.footerContacto {
    ul {
        li {
            a {
                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}

.copyright {
    @include flex-row (flex, row, center, center);
    width: 100%;
    margin-top: 50px;
    padding: 10px;
    font-family: nth($font-family, 1);
    font-weight: 100;
}

.copyright {
    h4 {
        margin-right: 5px;
        font-size: 10px;
    }
}

.copyright {
    h6 {
        font-size: 10px;
    }
}

.copyright {
    img {
        width: 16px;
        height: 16px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
}