/*! -----  FORMS INDEX/NEWSLETTER ----- */

.newsForm {
    @include flex-column (flex, column, center, center);
}

.newsForm {
    div {
        @include flex-row(flex, row,center, center);
        margin: 5px;
        padding: 5px;
    }
}

.formEmail {
    label {
        margin-right: 20px;
    }
}

.formButton {
    @include flex-row(flex, row, center, center);
}

.newsletter {
    div {
        form {
            div {
                input {
                    margin: 0px 50px;
                    padding: 0px 10px;
                    width: 400px;
                    height: 30px;
                    font-family: nth($font-family, 1);
                    font-weight: 300;
                    font-size: nth($font-size, 3);
                }
            }
        }
    }
}

/*! -----  FORMS CONTACT ----- */

.contactForm {
    margin: 50px 40px 75px 40px;
}

.contactForm {
    div {
        label {
            font-family: nth($font-family, 1);
            font-weight: 300;
        }
    }
}